<!DOCTYPE html>
<html lang="en">
    <head>

        {% block meta %}
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        <title>{% block title %}{% endblock %}</title>

        {% block scripts %}
            <script src="{{ asset('/bundles/app/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('/bundles/app/vendor/bootstrap/js/bootstrap.js') }}"></script>
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="/bundles/app/vendor/bootstrap/css/bootstrap.min.css" />
            <link rel="stylesheet" href="/bundles/app/style.css" />
        {% endblock %}
    </head>
    <body>
        {% block layout %}{% endblock %}
    </body>
</html>