# IDE files
.idea/

# Vagrant files
/.vagrant

# Composer files
/composer.lock
/vendor/

# PHPUnit files
/phpunit*.phar
/phpunit.xml

# Symfony legacy
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

#Static files
