{% extends 'AppBundle:admin:layout.html.twig' %}

{% block title %}Categories list{% endblock %}

{% block content %}
    <h1>Categories list</h1>

    <p><a href="{{ path('admin_categories_create') }}">Create new category</a></p>

    <div>

        {% set lastLvl = 0 %}
        {% for category in categories %}
        {% if category.lvl > lastLvl %}
            <ul>
        {% elseif category.lvl == lastLvl %}
            </li>
        {% elseif category.lvl < lastLvl %}
            {% set notFirstChild = false %}
            {% for i in category.lvl..lastLvl-1 %}
                </li></ul>
            {% endfor %}
        {% endif %}
        <li><a href="{{ path('admin_categories_update', {'id': category.id}) }}">{{ category.title }}</a>
            {% set lastLvl = category.lvl %}
            {% endfor %}
    </div>
{% endblock %}