{% extends 'AppBundle:admin:layout.html.twig' %}

{% block title %}Administration panel{% endblock %}

{% block content %}
    <h1>Administration panel start page</h1>
    <p>Please use menu bar above to navigate.</p>
{% endblock %}